name: urban_report
description: "UrbanReport es una aplicación que permite a los ciudadanos informar de manera rápida
  y sencilla sobre problemas urbanos en su comunidad, como baches, luminarias dañadas,
  acumulación de basura o alcantarillas obstruidas. A través de un mapa interactivo,
  los usuarios pueden ubicar los incidentes, dar seguimiento a los reportes y contribuir
  activamente a mejorar su entorno y la calidad de vida en la ciudad."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none'



version: 1.0.0+1

environment:
  sdk: '>=3.7.0 <4.0.0'



dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_launcher_icons: ^0.14.4
  flutter_native_splash: ^2.4.6
  supabase_flutter: ^2.12.0
  flutter_map: ^8.2.2
  latlong2: ^0.9.1
  geolocator: ^14.0.2
  image_picker: ^1.1.2 

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

#Icons
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "lib/assets/icons/logo.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "lib/assets/icons/logo.png"
    background_color: "#hexcode"
    theme_color: "#hexcode"
  windows:
    generate: false
  macos:
    generate: false

# Splash Screen
flutter_native_splash:
  color: "#F5F7F6"  ##====================================[REQUIRED]============
  image:                lib/assets/icons/logo.png

  


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/resources/
    - lib/assets/icons/logo.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
